[submodule "libraries/Arduino-ATSHA204"]
	path = libraries/Arduino-ATSHA204
	url = git@github.com:Beirdo/Arduino-ATSHA204.git
[submodule "libraries/Arduino-DS18B20"]
	path = libraries/Arduino-DS18B20
	url = git@github.com:Beirdo/Arduino-DS18B20.git
[submodule "libraries/Arduino-DS2482-OneWire"]
	path = libraries/Arduino-DS2482-OneWire
	url = git@github.com:Beirdo/Arduino-DS2482-OneWire.git
[submodule "libraries/Arduino-CBOR"]
	path = libraries/Arduino-CBOR
	url = git@github.com:Beirdo/Arduino-CBOR.git
[submodule "libraries/Arduino-nRF24L01"]
	path = libraries/Arduino-nRF24L01
	url = git@github.com:Beirdo/Arduino-nRF24L01.git
[submodule "libraries/Arduino-SD-FAT"]
	path = libraries/Arduino-SD-FAT
	url = git@github.com:Beirdo/Arduino-SD-FAT.git
[submodule "libraries/Adafruit_ILI9340"]
	path = libraries/Adafruit_ILI9340
	url = https://github.com/adafruit/Adafruit_ILI9340.git
[submodule "libraries/Adafruit-GFX-Library"]
	path = libraries/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "libraries/Arduino-SIM800"]
	path = libraries/Arduino-SIM800
	url = git@github.com:Beirdo/Arduino-SIM800.git
[submodule "libraries/Arduino-SSD1306"]
	path = libraries/Arduino-SSD1306
	url = git@github.com:Beirdo/Arduino-SSD1306.git
[submodule "libraries/Arduino-PCF8574"]
	path = libraries/Arduino-PCF8574
	url = git@github.com:Beirdo/Arduino-PCF8574.git
[submodule "libraries/Arduino-ADS1115"]
	path = libraries/Arduino-ADS1115
	url = git@github.com:Beirdo/Arduino-ADS1115.git
[submodule "libraries/Arduino-INA219"]
	path = libraries/Arduino-INA219
	url = git@github.com:Beirdo/Arduino-INA219.git
