[submodule "libraries/Arduino-PCF2129"]
	path = libraries/Arduino-PCF2129
	url = git@github.com:Beirdo/Arduino-PCF2129.git
[submodule "libraries/Library-Arduino-Cbor"]
	path = libraries/Library-Arduino-Cbor
	url = git@github.com:Beirdo/Library-Arduino-Cbor.git
[submodule "libraries/Wire1"]
	path = libraries/Wire1
	url = git@github.com:Beirdo/Arduino-Wire1.git
[submodule "libraries/Arduino-Wire1"]
	path = libraries/Arduino-Wire1
	url = git@github.com:Beirdo/Arduino-Wire1.git
[submodule "libraries/Arduino-ATSHA204"]
	path = libraries/Arduino-ATSHA204
	url = git@github.com:Beirdo/Arduino-ATSHA204.git
[submodule "libraries/Arduino-DS18B20"]
	path = libraries/Arduino-DS18B20
	url = git@github.com:Beirdo/Arduino-DS18B20.git
